.all-news {
  &__title {
    margin: 0 0 5px 0;

    @media (min-width: @desktop-width) {
      font-size: 70px;
      font-weight: 700;
      line-height: 88px;
    }
  }

  &__title-text {
    display: block;
    color: #959595;

    @media (min-width: @desktop-width) {
      margin: 0 0 55px 0;
    }
  }
}
