.all-news {
  &__title {
    margin: 0 0 5px 0;

    @media (min-width: @desktop-width) {
      font-size: 70px;
      font-weight: 700;
      line-height: 88px;
    }
  }

  &__title-text {
    display: block;
    margin: 0 0 80px 0;

    @media (min-width: @1024px) {
      margin: 0 0 198px 0;
    }
  }

  &__item {
    display: block;
    color: #959595;
    margin: 0 0 80px 0;

    @media (min-width: @desktop-width) {
      margin: 0 0 198px 0;
    }
  }

  &__box {
    margin: 0 0 50px 0;
    display: grid;
    grid-gap: 50px;

    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 0 85px 0;
    }
  }

  &__item {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: solid 2px #373334;
    }

    &:active {
      opacity: 0.4;
    }

    @media (min-width: @tablet-width) {
      &--tablet {
        display: block;
      }
    }

    @media (min-width: @1024px) {
      &--desktop {
        display: block;
      }
    }

    &:nth-child(1) .all-news__item-line {
      gap: 20px;
    }

    @media (min-width: @desktop-width) {
      min-height: 505px;

      &::after {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background-image: url("../../img/arrow-up.png");
        margin: 39px 0 0 0;
      }
    }
  }

  &__item-box {
    position: relative;
  }

  &__item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__box-picture {
    display: block;
    margin: 0 auto 35px auto;
  }

  &__item-line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 12px 0;
    gap: 40px;
  }

  &__item-title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #9f0023;
    margin: 0;
  }

  &__item-date {
    color: #959595;
  }

  &__item-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }

  &__line {
    display: flex;
    gap: 51px;
  }

  &__big-item {
    display: none;
    background-color: #ffffff;
    padding: 48px;
    position: relative;
    margin: 0 0 70px 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: solid 2px #373334;
    }

    &:active {
      opacity: 0.4;
    }

    @media (min-width: @1024px) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      min-height: 359px;

      &::after {
        content: "";
        position: absolute;
        width: 23px;
        height: 23px;
        background-image: url("../../img/arrow-up.png");
        right: 50px;
        bottom: 48px;
      }
    }
  }

  &__item-container {
    display: flex;
    gap: 51px;
  }

  &__big-line {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 23px 0;
    gap: 40px;
  }

  &__big-text {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    max-width: 613px;
    margin: 0 0 70px 0;
  }

  &__big-news {
    display: block;
    line-height: 26px;
    max-width: 625px;
  }

  &__pagination-list {
    list-style: none;
    margin: 0 auto 70px auto;
    max-width: 300px;
    min-height: 27px;
    padding: 0 46px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 17px;
      background-image: url("../../img/left-arrow.svg");
      background-repeat: no-repeat;
      top: 5px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 17px;
      background-image: url("../../img/right-arrow.svg");
      background-repeat: no-repeat;
      top: 5px;
      right: 0;
    }
  }

  &__pagination-item {
    position: relative;

    &:nth-child(1) {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #9F0023;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__pagination-number {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
  }
}
