.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 90px;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.footer__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin: 6px 0 0 0;
}

.footer__data-box {
  width: 146px;
  min-height: 43px;
  background-color: #fff6d9;
  padding: 8px 12px;
}

.footer__data-box-text {
  color: #333333;
  margin: 0;
}
