.header {
  min-height: 80px;
  padding: 10px 90px;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__list-item {
  &--flex {
    padding: 8px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.header__title {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin: 6px 0 0 0;
}

.header__list-button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  border-radius: 5px;
  width: 260px;
  min-height: 60px;
  background-color: #ff732b;
  border: none;
}
