.stars-block {
  min-height: 914px;
  position: relative;
  background-color: #ffeead;
  padding: 100px 90px 0 90px;
  background-image: url("../../img/puddle.png");
  background-repeat: no-repeat;
  background-position: 1px 610px;
}

.stars-block__paw-icon {
  position: absolute;
  left: 0;
  top: 36px;
}

.stars-block__title {
font-size: 36px;
font-weight: 700;
line-height: 41px;
text-align: center;
margin: 0 0 64px 0;
}

.stars-block__list {
  margin: 0 0 44px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.stars-block__list-item {
  list-style: none;
  width: 32%;
  min-height: 525px;
  background-color: #ffffff;
  padding: 20px;
}

.stars-block__cat-image {
  margin: 0 0 20px 0;
}

.stars-block__list-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 12px 0;
}

.stars-block__leaf-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.stars-block__button-box {
  width: 353px;
  margin: 0 auto;
}

.stars-block__button {
  width: 100%;
  min-height: 60px;
  font-family: Inter;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #ff732b;
  padding: 0;
}
